body , html {
  height: 100vh;
  padding: 0;
  margin: 0;
}
:root {
  --background: #f4f4f4;
  --font: #1E2327;
  --highlight: #4f9e92;
  --grass: #fefefe;
  --shadow: #e7e7e7;
  --light: #fffcfc;
  --popup: rgba(255, 255, 255, .4);
  --backshadow: rgba(255, 255, 255, .5);
}
@media (prefers-color-scheme: dark) {
  html {
    transition: .5s;
  }
  :root{
    --background: #1E2327;
    --font: #D7D7D7;
    --highlight: #4f9e92;
    --grass: #293035;
    --shadow: rgba(0, 0, 0, .3);
    --light: rgba(37, 41, 44, .8);
    --popup: rgba(37, 44, 49, .7);
    --backshadow: rgba(44, 51, 57, .3);
  }
}

@font-face {
  font-family: "Zen Maru Gothic";
  font-weight: black;
  src: url(../fonts/Zen_Maru_Gothic/ZenMaruGothic-Black.ttf) format("truetype"),
       url(../fonts/Zen_Maru_Gothic/ZenMaruGothic-Black.woff) format("woff");
}
@font-face {
  font-family: "Zen Maru Gothic";
  font-weight: bold;
  src: url(../fonts/Zen_Maru_Gothic/ZenMaruGothic-Bold.ttf) format("truetype"),
       url(../fonts/Zen_Maru_Gothic/ZenMaruGothic-Bold.woff) format("woff");
}
@font-face {
  font-family: "Zen Maru Gothic";
  font-weight: light;
  src: url(../fonts/Zen_Maru_Gothic/ZenMaruGothic-Light.ttf) format("truetype"),
       url(../fonts/Zen_Maru_Gothic/ZenMaruGothic-Light.woff) format("woff");
}
@font-face {
  font-family: "Zen Maru Gothic";
  font-weight: medium;
  src: url(../fonts/Zen_Maru_Gothic/ZenMaruGothic-Medium.ttf) format("truetype"),
       url(../fonts/Zen_Maru_Gothic/ZenMaruGothic-Medium.woff) format("woff");
}
@font-face {
  font-family: "Zen Maru Gothic";
  font-weight: regular;
  src: url(../fonts/Zen_Maru_Gothic/ZenMaruGothic-Regular.ttf) format("truetype"),
       url(../fonts/Zen_Maru_Gothic/ZenMaruGothic-Regular.woff) format("woff");
}
body {
  max-width: 700px;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Apple SD Gothic Neo", "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", sans-serif;
  color: var(--font);
  background-color: var(--background);
}
@media screen and (max-width: 821px) {
  body {
    margin: 0 1rem;
    padding-top: 1rem;
  }
}
@media screen and (max-width: 499px) {
  body {
    margin: 0 0.5rem;
  }
}

h2 {
  font-family: "Zen Maru Gothic";
  font-size: 1.1em;
}
.shadow {
  display: inline-block;
  margin: 1em 0 0 0;
  border-radius: 0.7em;
  box-shadow: 10px 10px 30px var(--shadow),
             -10px -10px 30px var(--light);
}
h3 {
  font-family: "Zen Maru Gothic";
  margin: 0;
  padding: 0.5em 1em;
  font-size: 1em;
  display: inline-block;
  border-radius: 0.7em;
  border: 0.15em solid var(--backshadow);
}
p {
  font-size: 0.9em;
  line-height: 1.6em;
}
a {
  font-family: "Zen Maru Gothic";
  color: var(--highlight);
}
ul {
  padding: 0;
  margin: 0.7em 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1em;
}
.site-name {
  font-family:  "Zen Maru Gothic";
  color: var(--highlight);
}
nav {
  position: relative;
}
details[open] ul {
  position: absolute;
  top: 100%;
  right: 0;
  width: 4em;
  padding: 1.5em;
  border-radius: 7px;
  background-color: var(--grass);
  z-index: 1000;
  font-size: 0.9em;
}
details ul {
  list-style: none;
}
details ul li {
  margin-bottom: 10px; /* リストアイテムの下マージン */
}
details ul li:last-child {
  margin-bottom: 0; /* リストアイテムの下マージン */
}
details ul li a {
  text-decoration: none; /* リンクの下線を非表示 */
  color: var(--font); /* リンクの文字色 */
}
details ul li a:hover {
  color: var(--highlight); /* リンクにホバーした時の文字色 */
}
summary {
  display: block;
}
summary::-webkit-details-marker {
  display: none;
}
li span {
  color: var(--highlight);
}
.banner {
  width: 200px;
  height: 40px;
}

.about-here {
  padding-bottom: 1em;
}
.about-here {
  font-size: 1.15em;
  padding-bottom: 1em;
}
.whats-this {
  color: var(--highlight);
}
.about-here details {
  display: inline-block;
  list-style: none;
  cursor: pointer;
}
.about-here details span {
  font-family: "Zen Maru Gothic";
  color: var(--highlight);
}
.infomation {
  background-color: var(--grass);
  padding: 0.5em 1em;
  margin: 1em 0 1.5em 0;
  border-radius: 0.7em;
}
.news {
  padding: 0.5em 1em;
  margin: 1em 0 1.5em 0;
  border-radius: 0.7em;
  box-shadow: 13px 13px 30px var(--shadow),
             -13px -13px 30px var(--light);
  border: 0.05em solid var(--popup);
}
.news ul {
  padding: 0;
}
.news li {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1em;
}
.date {
  color: var(--highlight);
}
footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: auto;
}
.copyright {
  font-size: 1em;
}
