<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=yes"
    />
    <title>minimal</title>
    <meta name="description" content="minimalのテンプレートです。" />
    <link rel="stylesheet" href="../../../css/normalize.css" />
    <link rel="stylesheet" href="../stylesheet.css" />
    <link rel="shortcut icon" href="../../../images/favicon.ico" />
    <link rel="apple-touch-icon" href="../../../images/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      href="../../../images/android-chrome-256x256.png"
    />
    <meta property="og:site_name" content="おさがり" />
    <meta property="og:title" content="minimal" />
    <meta property="og:type" content="article" />
    <meta
      property="og:url"
      content="https://osagari.enacum.me/tamplates/articles/pink-and-blue/index.html"
    />
    <meta property="og:description" content="minimalのテンプレートです。" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:image" content="../../../images/icon-512x512.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="site-name">
        <a title="ホーム" href="../../../index.html">
          <h1>おさがり</h1>
        </a>
      </div>
      <nav>
        <details>
          <summary>メニュー</summary>
          <ul>
            <li><a href="../../../index.html">ホーム</a></li>
            <li>
              <a href="../../index.html" title="テンプレート">テンプレ</a>
            </li>
            <li>
              <a href="../../../notes/index.html" title="サイト制作メモ"
                >メモ</a
              >
            </li>
          </ul>
        </details>
      </nav>
    </header>
    <main>
      <div class="top-container">
        <h2>minimal</h2>
        <p>グレーを基調とした使いやすいCSSフレームワークです。</p>
      </div>
      <div class="shadow">
        <img alt="デモサイトのトップページ" src="../../images/minimal.webp" />
      </div>
      <div class="about">
        <h3>CSSフレームワークとは</h3>
        <p>
          このテンプレートはCSSがメインです。ご自身の目的に合わせて作ったHTMLにこのCSSを適用することで、
        </p>
        <ul>
          <li>0からCSSを書く必要がないので、デザインの負担が軽減される</li>
          <li>このCSSを土台にすることで、オリジナルデザインを作りやすくする</li>
        </ul>
        <p>
          などの活用を想定しています。もちろん、配布物に含まれるHTMLをそのまま使用していただいても構いません。
        </p>
        <h3>特徴</h3>
        <ul>
          <li>
            classをできるだけ使わないようにしたので、シンプルなHTMLでもほとんどのデザインを適用できます。
          </li>
          <li>
            以下の場合は、HTMLにclassを含める必要があります。リンクカード表示 /
            複数枚画像の横並び表示 / キャプション風の文字レイアウト
          </li>
          <li>ダークモードに対応しています。</li>
          <li>
            詳しい使い方については、デモサイトと配布物の内容をご覧になってください。
          </li>
        </ul>
      </div>
      <div class="terms">
        <h3>利用規約</h3>
        <ul>
          <li>このテンプレートはサイトの内容問わず仕様できます。</li>
          <li>
            このテンプレートで使用している写真素材は、ぱくたそ［
            <a href="https://www.pakutaso.com" title="フリー素材「ぱくたそ」"
              >https://www.pakutaso.com</a
            >
            ］のフリー素材を利用しています。テンプレートの利用者がこの素材を継続して利用する場合は、
            ぱくたそ公式サイトからご自身でダウンロードしていただくか、ぱくたそのご利用規約［
            <a
              href="https://www.pakutaso.com/userpolicy.html"
              title="フリー素材「ぱくたそ」の利用規約"
              >https://www.pakutaso.com/userpolicy.html</a
            >
            ］に同意していただく必要があります。
            同意いただけない場合は素材のご利用はできませんのでご注意ください。
          </li>
          <li>
            なお、テンプレートそのものとassetsに含まれるhome.svgはそのまま使う・改変して使う・部分的に使うことが可能です。
          </li>
          <li>テンプレートを改変した場合、二次配布をすることが可能です。</li>
          <li>
            このテンプレートを使うとき、著作者（えなくん）への連絡やクレジット表記は必要ありません。
          </li>
          <li>トラブルの発生が想定される使い方は禁止します。</li>
        </ul>
      </div>
      <div class="shadow">
        <div class="contents">
          <p>
            <a title="minimal demo" href="demo/ja.html" target="_blank"
              >デモサイト</a
            >（別なタブで開きます）<br />
            <a title="minimal zip" href="minimal.zip" download="minimal.zip"
              >ZIPファイル</a
            >（230 KB）
          </p>
        </div>
      </div>
      <div class="news">
        <h3>更新履歴</h3>
        <ul>
          <li>
            <p><span class="date">2026/04/21</span></p>
            <p>minimalテンプレートの配信を開始しました。</p>
          </li>
        </ul>
      </div>
    </main>
    <footer>
      <div class="copyright">
        <small>&copy; 2024 enacum.</small>
      </div>
    </footer>
  </body>
</html>
