<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <title>現行ソース（おさがり）</title>
  <meta name="description" content="このサイトのソースコードを公開しています。">
  <link rel="stylesheet" href="../../../css/normalize.css">
  <link rel="stylesheet" href="../stylesheet.css">
  <link rel="shortcut icon" href="../../../images/favicon.ico">
  <link rel="apple-touch-icon" href="../../../images/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="../../../images/android-chrome-256x256.png">
  <meta property="og:site_name" content="おさがり">
  <meta property="og:title" content="現行ソース（おさがり）">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://osagari.enacum.me/tamplates/articles/neumorphism/index.html">
  <meta property="og:description" content="このサイトのソースコードを公開しています。">
  <meta name="twitter:card" content="summary" />
  <meta property="og:image" content="../../../images/icon-512x512.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <div class="site-name">
      <a title="ホーム" href="../../../index.html">
        <h1>おさがり</h1>
      </a>
    </div>
    <nav>
      <details>
        <summary>メニュー</summary>
        <ul>
          <li><a href="../../../index.html">ホーム</a></li>
          <li><a href="../../index.html" title="テンプレート">テンプレ</a></li>
          <li><a href="../../../notes/index.html" title="サイト制作メモ">メモ</a></li>
        </ul>
      </details>
    </nav>
  </header>
  <main>
    <div class="top-container">
      <h2>現行ソース（おさがり）</h2>
    </div>
    <img alt="このサイトのトップページ" src="../../images/neumorphism.webp">
    <div class="about">
      <p>このサイトはGithubでソースコードを公開しています。</p>
      <p>
        デザインを調整しながら運用しているのでそのまま使うのはおすすめしませんが、CSSをコピペして使うなどは問題ありません。<br>
        デザインが固まったらテンプレ化して配布する予定です。
      </p>
      <ul>
        <li>HTML内のテキストや画像など、サイト内コンテンツは一般的な著作物として捉え、利用は引用程度に留めてください。</li>
        <li>フォントなど、著作者が異なるコンテンツは利用規約が異なることに注意してください。</li>
      </ul>
    </div>
    <div class="shadow">
      <div class="contents">
        <p>
          <a title="おさがりのソースコード" href="https://github.com/enacum/osagari" target="_blank">ソースコード</a>（別なタブで開きます）
        </p>
      </div>
    </div>
    <div class="news">
      <h3>更新履歴</h3>
      <ul>
        <li>
          <p><span class="date">2024/12/21</span></p>
          <p>
            ダウンロードまわりの記述を明確にしました。
          </p>
        </li>
      </ul>
    </div>
  </main>
  <footer>
    <div class="copyright">
      <small>&copy; 2024 enacum.</small>
    </div>
  </footer>
</body>

</html>