<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>アイコン</title>
    <meta name="description" content="サイト用に作ったアイコンです。">
    <link rel="stylesheet" href="../../../css/normalize.css">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="shortcut icon" href="../../../images/favicon.ico">
    <link rel="apple-touch-icon" href="../../../images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../../../images/android-chrome-256x256.png">
    <meta property="og:site_name" content="おさがり">
    <meta property="og:title" content="アイコン">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://osagari.enacum.me/tamplates/articles/icons/index.html">
    <meta property="og:description" content="サイト用に作ったアイコンです。">
    <meta name="twitter:card" content="summary" />
    <meta property="og:image" content="../../../images/icon-512x512.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="site-name">
            <a title="ホーム" href="../../../index.html">
                <h1>おさがり</h1>
            </a>
        </div>
        <nav>
            <details>
                <summary>メニュー</summary>
                <ul>
                    <li><a href="../../../index.html">ホーム</a></li>
                    <li><a href="../../index.html" title="テンプレート">テンプレ</a></li>
                    <li><a href="../../../notes/index.html" title="サイト制作メモ">メモ</a></li>
                </ul>
            </details>
        </nav>
    </header>
    <main>
        <div class="top-container">
            <h2>アイコン</h2>
        </div>
        <div class="about">
            <p>サイト用に作ったアイコンを配布しています。改変自由、用途も限定しません。</p>
            <p><strong>画像をクリック</strong>するとアイコンセットがzipファイルでダウンロードできます。画像形式は以下の三種類があります。</p>
            <div class="footnote">
                <ul>
                    <li><strong>PNG形式</strong>：お馴染みの形式だけど説明できるほど知識がない。データサイズ大きくなりがち。</li>
                    <li><strong>WEBP形式</strong>：ほぼ画質を保ったままデータサイズを小さくできる。しかし用途はWEBに限定されるっぽい。</li>
                    <li><strong>SVG形式</strong>：コードで書かれているのでCSSでデザインを操作できる。ダークモード対応などが簡単。</li>
                </ul>
            </div>
        </div>
        <div class="contents-container">
            <ul class="contents-wrapper">
                <li class="item highback">
                    <a href="images/home/home.zip" download="home.zip" title="家のアイコンのzipファイル">
                        <img src="images/home/homeicon-default.svg">
                        <h3>home</h3>
                    </a>
                </li>
                <li class="item highback">
                    <a href="images/nav/nav.zip" download="nav.zip" title="メニューアイコンのzipファイル">
                        <img src="images/nav/navicon-default.svg">
                        <h3>nav</h3>
                    </a>
                </li>
                <li class="item highback">
                    <a href="images/rss/rss.zip" download="rss.zip" title="RSSアイコンのzipファイル">
                        <img src="images/rss/rssicon-default.svg">
                        <h3>rss</h3>
                    </a>
                </li>
                <li class="item">
                    <a href="images/sun/sun.zip" download="sun.zip" title="太陽のアイコンのzipファイル">
                        <img src="images/sun/sun-pink.png">
                        <h3>sun</h3>
                    </a>
                </li>
                <li class="item">
                    <a href="images/moon/moon.zip" download="moon.zip" title="月のアイコンのzipファイル">
                        <img src="images/moon/moon-blue.png">
                        <h3>moon</h3>
                    </a>
                </li>
                <li class="item">
                    <a href="images/cloud/cloud.zip" download="cloud.zip" title="雲のアイコンのzipファイル">
                        <img src="images/cloud/cloud-yellow.png">
                        <h3>cloud</h3>
                    </a>
                </li>
                <li class="item">
                    <a href="images/search/search.zip" download="search.zip" title="虫眼鏡のアイコンのzipファイル">
                        <img src="images/search/search-blue.png">
                        <h3>search</h3>
                    </a>
                </li>
                <li class="item">
                    <a href="images/human/human.zip" download="human.zip" title="人のアイコンのzipファイル">
                        <img src="images/human/human-pink.png">
                        <h3>human</h3>
                    </a>
                </li>
        </div>
    </main>
    <footer>
        <div class="copyright">
            <small>&copy; 2024 enacum.</small>
        </div>
    </footer>
</body>

</html>