<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <title>pink and blue</title>
  <meta name="description" content="pink and blueのテンプレートです。">
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="stylesheet.css">
  <link rel="shortcut icon" href="../../images/favicon.ico">
  <link rel="apple-touch-icon" href="../../images/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="../../images/android-chrome-256x256.png">
  <meta property="og:site_name" content="おさがり">
  <meta property="og:title" content="pink and blue">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://osagari.enacum.me/tamplates/pink-and-blue/index.html">
  <meta property="og:description" content="pink and blueのテンプレートです。">
  <meta name="twitter:card" content="summary" />
  <meta property="og:image" content="../../images/icon-512x512.png">
</head>
<body>
  <header>
    <div class="site-name">
      <a title="ホーム" href="../../index.html">
        <h1>おさがり</h1>
      </a>
    </div>
    <nav>
      <details>
        <summary>メニュー</summary>
        <ul>
          <li><a href="../../index.html">ホーム</a></li>
          <li><a href="../index.html" title="テンプレート">テンプレ</a></li>
          <li><a href="../../notes/index.html" title="サイト制作メモ">メモ</a></li>
        </ul>
      </details>
    </nav>
  </header>
  <main>
    <div class="top-container">
      <h2>pink and blue</h2>
      <p>ピンクと水色のシンプルなテンプレートです。</p>
    </div>
    <img alt="デモサイトのトップページ" src="../images/pink-and-blue.webp">
    <div class="about">
      <p>ブログ記事・イラスト投稿を想定したデザインになっています。</p>
      <ul>
        <li>ダークモードで色が変わります</li>
        <li>デバイスにより適切なフォントに切り替わります</li>
      </ul>
    </div>
    <div class="terms">
      <h3>利用規約</h3>
      <ul>
        <li>このテンプレートはサイトの内容問わず仕様できます。</li>
        <li>このテンプレートは（画像も含め）そのまま使う・改変して使う・部分的に使うことが可能です。アイコンのみ持ち帰って色変更して使うこともできます。</li>
        <li>テンプレートを改変した場合、二次配布をすることが可能です。</li>
        <li>このテンプレートを使うとき、著作者（えなくん）への連絡やクレジット表記は必要ありません。</li>
        <li>トラブルの発生が想定される使い方は禁止します。</li>
      </ul>
    </div>
    <div class="contents">
      <p>デモサイトは<a title="pink and blue demo" href="pink-and-blue/main/index.html">こちら</a><br>
        ZIPファイルのダウンロードは<a title="pink and blue zip" href="pink-and-blue.zip">こちら</a><br>
      </p>
    </div>
    <div class="news">
      <h3>更新履歴</h3>
      <ul>
        <li>
          <p><span class="date">2024/02/23</span></p>
          <p>
            <a href="https://enacum.me">enacum.</a>から移転<br>
            利用規約をテンプレート外に配置<br>
            フォント設定を修正<br>
            ファイル構造を整理
          </p>
        </li>
        <li>
          <p><span class="date">2024/01/27</span></p>
          <p>
            normalize.cssの読み込みエラーを修正<br>
            不要な記述を削除
          </p>
        </li>
        <li>
          <p><span class="date">2024/01/24</span></p>
          <p>
            利用できるファイルの明記<br>
            RSSファイルについて記載追加<br>
            誤字など修正
          </p>
        </li>
        <li>
          <p><span class="date">2024/01/23</span></p>
          <p>
            執筆用JavaScriptの追加<br>
            css整理<br>
            内容の修正
          </p>
        </li>
      </ul>
    </div>
  </main>
  <footer>
    <div class="copyright">
      <small>&copy; 2024 enacum.</small>
    </div>
  </footer>
</body>
</html>
