<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>RSSフィード（PHP）</title>
    <meta name="description" content="PHPで書いたRSSフィードのテンプレートです。">
    <link rel="stylesheet" href="../../../css/normalize.css">
    <link rel="stylesheet" href="../stylesheet.css">
    <link rel="shortcut icon" href="../../../images/favicon.ico">
    <link rel="apple-touch-icon" href="../../../images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../../../images/android-chrome-256x256.png">
    <meta property="og:site_name" content="おさがり">
    <meta property="og:title" content="RSSフィード（PHP）">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://osagari.enacum.me/tamplates/articles/rss/index.html">
    <meta property="og:description" content="PHPで書いたRSSフィードのテンプレートです。">
    <meta name="twitter:card" content="summary" />
    <meta property="og:image" content="../../../images/icon-512x512.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="site-name">
            <a title="ホーム" href="../../../index.html">
                <h1>おさがり</h1>
            </a>
        </div>
        <nav>
            <details>
                <summary>メニュー</summary>
                <ul>
                    <li><a href="../../../index.html">ホーム</a></li>
                    <li><a href="../../index.html" title="テンプレート">テンプレ</a></li>
                    <li><a href="../../../notes/index.html" title="サイト制作メモ">メモ</a></li>
                </ul>
            </details>
        </nav>
    </header>
    <main>
        <div class="top-container">
            <h2>RSSフィード（PHP）</h2>
            <p>PHPで書いたRSSフィードのテンプレートです。</p>
        </div>
        <img alt="RSSフィードのコード" src="../../images/rss-code.webp">
        <div class="about">
            <p>コードがシンプルで読みやすいため、PHPを書いたことがない人でも扱いやすいです。</p>
            <p>サイト情報や記事情報を書き換えるだけで利用できます。また、書き換える部分はコード内に記述してあります。</p>
        </div>
        <div class="shadow">
            <div class="contents">
                <p>
                    <a title="RSSフィードのテンプレート" href="rss.php" download="rss.php">PHPファイル</a>（1KB）
                </p>
            </div>
        </div>
    </main>
    <footer>
        <div class="copyright">
            <small>&copy; 2024 enacum.</small>
        </div>
    </footer>
</body>

</html>
