body,
html {
  height: 100vh;
  padding: 0;
  margin: 0;
}

:root {
  --background: #f4f4f4;
  --font: #1E2327;
  --highlight: #4f9e92;
  --grass: #fefefe;
  --shadow: #e7e7e7;
  --light: white;
  --popup: rgba(255, 255, 255, .4);
  --backshadow: rgba(255, 255, 255, .5);
}

@media (prefers-color-scheme: dark) {
  html {
    transition: .5s;
  }

  :root {
    --background: #1E2327;
    --font: #D7D7D7;
    --highlight: #4f9e92;
    --grass: #293035;
    --shadow: rgba(0, 0, 0, .3);
    --light: rgba(37, 41, 44, .8);
    --popup: rgba(37, 44, 49, .8);
    --backshadow: rgba(44, 51, 57, .3);
  }
}

.zen-maru gothic-light {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 300;
  font-style: normal;
}

.zen-maru gothic-regular {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

.zen-maru gothic-medium {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-style: normal;
}

.zen-maru gothic-bold {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-style: normal;
}

.zen-maru gothic-black {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 900;
  font-style: normal;
}

body {
  max-width: 700px;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Apple SD Gothic Neo", "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", sans-serif;
  color: var(--font);
  background-color: var(--background);
}

@media screen and (max-width: 821px) {
  body {
    margin: 0 1rem;
    padding-top: 1rem;
  }
}

@media screen and (max-width: 499px) {
  body {
    margin: 0 0.5rem;
  }
}

h2 {
  font-family: "Zen Maru Gothic";
  color: var(--highlight);
  font-size: 1.3em;
}

h3 {
  display: inline-block;
  font-family: "Zen Maru Gothic";
  color: var(--font);
  font-size: 1em;
  padding-top: 1em;
  margin: 0;
}

p,
.about li {
  font-size: 1em;
  line-height: 1.6em;
}

a {
  font-family: "Zen Maru Gothic";
  color: var(--highlight);
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0.7em 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1em;
}

.site-name {
  font-family: "Zen Maru Gothic";
  color: var(--highlight);
}

nav {
  position: relative;
}

details[open] ul {
  position: absolute;
  top: 100%;
  right: 0;
  width: 4em;
  padding: 1.5em;
  border-radius: 7px;
  background-color: var(--grass);
  z-index: 1000;
  font-size: 0.9em;
}

details ul {
  list-style: none;
}

details ul li {
  margin-bottom: 10px;
  /* リストアイテムの下マージン */
}

details ul li:last-child {
  margin-bottom: 0;
  /* リストアイテムの下マージン */
}

details ul li a {
  text-decoration: none;
  /* リンクの下線を非表示 */
  color: var(--font);
  /* リンクの文字色 */
}

details ul li a:hover {
  color: var(--highlight);
  /* リンクにホバーした時の文字色 */
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

li span {
  color: var(--highlight);
}

.about ul {
  padding-left: 1em;
}

.shadow {
  margin: 1em 0 1.5em 0;
  border-radius: 0.7em;
  box-shadow: 13px 13px 30px var(--shadow),
    -13px -13px 30px var(--light);
}

strong {
  color: var(--highlight);
}

.contents-wrapper {
  margin: 2.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 2rem;
}

.contents-wrapper {
  padding-left: 0;
}

.item {
  list-style: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: var(--grass);
}

.highback {
  background-color: var(--shadow);
}

.item img {
  width: 100%;
}

.item h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Zen Maru Gothic";
  font-size: 1.3rem;
  color: var(--highlight);
  margin: 0;
  padding-top: 0;
}

.footnote {
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 8px;
  padding: 15px 20px;
  background-color: var(--grass);
}

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: auto;
}

.copyright {
  font-size: 1em;
}